header{
    background-color: rgb(0, 153, 255);
    text-align: center;
    display: grid;
    grid-template-columns:33% 34% 33%;
    max-width:100%;

}
nav{
    color:white;
}
li{
    list-style:none;
    border-left: 1px solid white;
}
#quick-nav{
    display:flex;
    align-items:center;

}
#quick-ul{
    display:grid;
    grid-template-columns: repeat(4,5rem);

}
#directories{
    border-left:hidden;
}
#utilities-nav{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
.button{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 1rem;
    width: 10;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    border: 1px solid white;
    display: inline-block;  
    color:white;   
}
.button:hover {
    background: #1C6EA4;
}
.button:active {
    background: #144E75;
}
#main-nav{
    text-align: center;
    display: grid;
    grid-column: 1 / 4;
    line-height: 4rem;
}
#main-ul{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    background-color: rgb(3, 3, 71);
    min-height: 4rem;
}
#main-ul > li{
    -moz-transform: translate(-20px, 0px);
    -webkit-transform: translate(-20px, 0px);
    -o-transform: translate(-20px, 0px);
    -ms-transform: translate(-20px, 0px);
    transform: translate(-20px, 0px);
}
#alumnae{
    border-right: 1px solid white;
}

.hero{
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    display: flex;
    justify-content:center;
    align-items: center;
}

.make-your-move{
    background-color:olivedrab;
}

